extends layout

block content
  .page-header
    a(href='/backoffice/pics/new')
      button.btn.btn-success.pull-right
        i.fa.fa-plus
        | New

    h3 Pictures

  if pics
    table.table
      thead
        tr
          th id
          th name
          th picture
          th Product URL
          th hashtags
      tbody
        each pic, index in pics
          tr
            td=pic.id
            td
              a(href='/backoffice/pics/' + pic.id)=pic.name
            td
              img(src=pic.thumbnailUrl width=30 height=30)
            td
              a(href=pic.productUrl target='_blank')=pic.productUrl
            td=pic.hashtags
